@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .noscrollbar::-webkit-scrollbar {
    display: none;
  }

  .glassmorphism {
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 20px 0 rgba(38, 39, 39, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .btn-class {
    font-family: inherit;
    font-size: 16px;
    background: black;
    color: white;
    padding: 10px;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }

  .btn-class span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }

  .btn-class svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }

  .btn-class:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }

  .btn-class:hover svg {
    transform: translateX(1.7em) rotate(45deg) scale(1.1);
  }

  .btn-class:hover span {
    transform: translateX(8em);
  }

  .btn-class:active {
    transform: scale(0.95);
  }

  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
      transform: translateX(0.8em);
    }

    to {
      transform: translateY(-0.1em);
    }
  }
}